
</main>
<footer class="teal">
    <div class="footer-copyright">
      <div class="container">
      Copyright Edita Dani
      </div>
    </div>
</footer>  

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>