<%- include('partials/header') %> 
<style>
  .card-panel {
    padding: 8px 12px;
  }
  code {
    padding: 4px;
  }
</style>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Node Auth API Task</h1>
    <div class="row center">
      <h5 class="header col s12 light">To test the API you will need to send a token as <code>'auth-token'</code> in the request header</h5>
    </div>
    <div class="row center">
      <button href="#" id="getToken" class="btn-large waves-effect waves-light orange">Get Token</button>
    </div>
    <div class="row center">
      <div class="card-panel p2 teal lighten-2 js-token hide">
        <p class="white-text"><code class="teal">eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.e30.KIe91pTAlzLfTl0nhMLobixX1wlbfu5_B9JhYo2sZi8</code></p>
        <p class="white-text">Normally the token would be send automatically by login process and saved to <code class="teal">local storage</code> or <code class="teal">session</code> or <code class="teal">cookies</code> but in this case for simplicity you can copy-paste to postman to test the APIs</p>
      </div>
    </div>
    <br><br>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="collection">
          <p class="collection-item">index route: <code>GET, /</code></p>
          <p class="collection-item">get all movies route: <code>GET, /api/movies</code></p>
          <p class="collection-item">add movie route: <code>POST, /api/movie (postData {title, description, cast[]})</code></p>
          <p class="collection-item">query movies route: <code>GET, /api/movie/search?title=%titlequery% </code></p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const tokenBtn = document.querySelector('#getToken')
  const token = document.querySelector('.js-token')
  tokenBtn.addEventListener('click', e => {
    token.classList.toggle('hide')
  })
</script>
<%- include('partials/footer') %> 
